@import 'libs/bootstrap-reboot';
@import 'libs/font';
@import 'libs/icon-fonts';
@import 'libs/tiny-slider';
@import 'libs/animate.compat';

@import "base/variables";
@import "base/animations";
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  max-width: 975px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/titles";
@import "blocks/forms";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/references";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "base/media";
